

.skills-box{
    padding: 20px;
    border-radius: 12px;;
    border: 1px solid #008080;
    color:antiquewhite;
    margin-top: 10px;
    flex-shrink: 0;
    box-sizing: border-box;
    width: 100%;
}


.experience-container{
    padding: 10px;
    border: 1px solid #008080;
    border-radius: 12px;
    margin-top: 10px;
    color:antiquewhite;
    flex-shrink: 0;
    box-sizing: border-box;
    width: 100%;
}

.experience-box{
    align-items: center;
    padding: 10px;
    border-radius: 12px;
    border: 1px solid #008080;
    width: 100%;
    color:antiquewhite;
    margin-top: 10px;
    flex-shrink: 0;
    box-sizing: border-box;
}

.project-container{
    padding: 10px;
    border: 1px solid #008080;
    border-radius: 12px;
    margin-top: 10px;
    color:antiquewhite;
    flex-shrink: 0;
    box-sizing: border-box;
    width: 100%;
}

.project-box{
    align-items: center;
    padding: 10px;
    border-radius: 12px;
    border: 1px solid #008080;
    width: 100%;
    color:antiquewhite;
    margin-top: 10px;
    flex-shrink: 0;
    box-sizing: border-box;
    gap: 8px;
}
.github-icon {
    margin-left: 10px;
    vertical-align: middle;
    color:#008080;
}

.github-icon:hover {
    transform: scale(2);
    transition: transform 1s;
    color:antiquewhite;
}

.research-container{
    padding: 10px;
    border: 1px solid #008080;
    border-radius: 12px;
    margin-top: 10px;
    color:antiquewhite;
    flex-shrink: 0;
    box-sizing: border-box;
    width: 100%;
}

.research-box{
    align-items: center;
    padding: 10px;
    border-radius: 12px;
    border: 1px solid #008080;
    width: 100%;
    color:antiquewhite;
    margin-top: 10px;
    flex-shrink: 0;
    box-sizing: border-box;
}

.div-divider{
    height: 10px;
}

.text-container{
    list-style-position: outside;
    padding: 10px 20px;
}

.text-container li{
    padding: 10px 20px;
}
.education p{
    margin-top: 10px;
    margin-bottom: 10px;
}

.languages{
    margin-top: 10px;
    margin-bottom: 10px;
}

.technologies{
    margin-top: 10px;
    margin-bottom: 10px;
}

.certifications a{
    display: block;
    color: antiquewhite;
    margin-bottom: 10px;
    margin-top: 5px;
}
.certifications a:hover {
    color: #008080;
    text-decoration: underline;
}

