.name-container{
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    color: antiquewhite;
}

.bio-container{
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    margin-top: 12px;
    color: antiquewhite;
}

.linkedin-icon {
    margin-left: 10px;
    vertical-align: middle;
}

.linkedin-icon:hover {
    transform: scale(2);
    transition: transform 1s;
    color: antiquewhite;
}


.image-container{
    display: flex;
    justify-content: center;
}

.image-container img {
    border-radius: 150px;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #008080;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}