.App{
    background-color: #2f4f4f;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.scroll-container {
    overflow-y: auto;
    height: 100%;
    width: 100%;

}

.body-container-second{
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 20px;
    width: auto;
}

.body-container{
    display: flex;
    /* height: calc(100vh - 60px); */
    height: auto;
    padding: 20px;
    justify-content: space-between;
    overflow: hidden;
}
.body-container > div:nth-child(1){
    width: 30%;
}
.body-container > div:nth-child(2){
    flex-wrap: wrap;
    background-color: #008080;
    margin: 0 30px;
    width: 1px;
    display: block;

}
.body-container > div:nth-child(3){
    width: 65%;
    height: auto;
}

@media screen and (max-width: 1270px) {
    .body-container{
      width: auto;
      height: auto;
    }
}

@media screen and (max-width: 1270px) {
    .body-container > div:nth-child(1) {
      width: auto;
      height: auto;
    }
}

@media screen and (max-width: 1270px) {
    .body-container > div:nth-child(3) {
      width: auto;
      height: auto;
    }
}

.section-v-divider{
    background-color: #008080;
    margin: 0 30px;
    height: 100%;
    width: 1px;
    display: block;
}

.columns-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0px;
}

@media screen and (max-width: 1270px) {
    .columns-container {
      width: auto;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
}

.left-side{
    max-width: 70%;
    font-size: 20px;
}

.right-side{
    flex: 0 0 30%;
    display: flex;
    justify-content: left;
    align-items: center;
}

@media screen and (max-width: 1270px) {
    .left-side {
      width: auto;
      height: auto;
      justify-content: center;
      align-items: center;
    }
}

@media screen and (max-width: 1270px) {
    .right-side {
      width: auto;
      height: auto;
      justify-content: center;
      margin-top: 10px;
    }
}

.section-divider{
    margin: 10px auto;
    width: 100%;
    height: 1px;
    background-color: #008080;
}

* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    background-color: #2f4f4f;
    overscroll-behavior: contain;
  }